.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-position: center;
  grid-column: 1/2;
  grid-row: 1/3;
  width: 100%;
}